 {{!-- header --}}
 
           
        
  <header class="d-flex  align-content-center">
                <div class="logo">Logo</div>
                <nav class="position-relative">
                    <ul class="d-flex justify-content-center align-content-center">
                         
{{#each catData as | catItems|}}

                         
                        <li><a href="">{{catItems.category_name}}</a>
                               {{!-- <div class="sub-items position-absolute">
                            {{#each catItems.subCategories as | subcat | }}
                            
                            <h3>{{subcat.sub_category_name}}</h3>
                          
                            <ul>
                                            --}}
                                
                                {{!-- {{#each productList as | proItems |}}
                                {{proItems.product_name}}
                                {{/each}}             --}}
                                            
                                        
                                     
                            {{!-- </ul>
                                  {{/each}} --}}
{{!--                       
                            </div> --}}
                        
                        
                        </li>
                          {{/each}}
                        

                    </ul>
                </nav>
                <div class="cart text-end serch-input">   <input type="search" placeholder="search here..."/> 
                                          </i></div>
            </header>

 
 {{!-- Body --}}
 <div class="row mt-5">
                    <div class="col-md-3">
             <div class="list-items">
         <div class="list-itme-list">
            <h3>Categories</h3>
            <ul>
               {{#each catData as | catItems|}}

                         
                        <li><a href="">{{catItems.category_name}}</a>
                               <div class="catlistitems">
                            {{#each catItems.subCategories as | subcat | }}
                            
                            <h3>{{subcat.sub_category_name}}</h3>
                          
                            <ul>
                                
                            </ul>
                                  {{/each}}
                      
                            </div>
                        
                        
                        </li>
                          {{/each}}
            </ul>
         </div>
         <div class="list-itme-list">
            <h3>Filter By price</h3>
          <input type="range" min="0" max="500">
         </div>
         {{!-- filter by color --}}
         {{!-- <div class="list-itme-list">
            <h3>Filter By Color</h3>
              {{#each productList as | proItems |}}
           <input type="checkbox" class="checkPro"/><label>{{proItems.color.color_name}}</label><br/>
           {{/each}}
          
         </div> --}}
         
                </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">

                          
                                            {{#each productList as | proItems |}}
                                            
                                            


                            <div class="col-md-4">
                                <div class="product-list-items">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top productImage" src={{proItems.product_image_path}} alt="Card image cap" >
                                     <div class="cart-product">
                                        <div class="cart-product-list d-flex justify-content-between align-items-center">
                                            <i class="fa-solid fa-search"></i>
                                            <span class="text-end cart-list">Cart</span>
                                        </div>
                                     </div>
                                        <div class="card-body">
                                          <h5 class="card-title prodcut-title">{{proItems.product_name}}</h5>
                                          <p class="card-text product-price">Price:{{proItems.price}}</p>
                                         
                                        </div>
                                      </div>
                                      
                                </div>
                            </div>


                                {{/each}}      

                          
                        </div>

                    </div>
                </div>