{{!-- header --}}
<header class="d-flex  align-content-center">
    <div class="logo">Logo</div>
    <nav class="position-relative">
        <ul class="d-flex justify-content-center align-content-center">
            {{#each catData as | catItems|}}
            <li><a href="/category/{{catItems.slug}}">{{catItems.category_name}}</a>
            </li>
            {{/each}}
        </ul>
    </nav>
    <div class="cart text-end "><button class="bg-primary px-4 text-white"><a href="/cart"
                class="bg-primary px-4 text-white">{{cartTotal}} Cart</a></button></div>
</header>
<section>

    {{!-- body start here --}}
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-12">
                    <div class="product-details-img">
                        <img src={{productData.product_image_path}} alt="hhh" title="df" />
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="product-info">
                        <h2>{{productData.product_name}}</h2>
                        <p>Item code</p>
                        <h3>${{productData.price}}</h3>
                        <div>
                            <h3>Select Color</h3>
                            <select>
                                <option>{{productData.color.color_name}}</option>
                            </select>
                        </div>
                        <p>Available:

                            {{#if productData.is_stock}}
                            Yes
                            {{/if}}
                            {{#else}}
                            No
                            {{/else}}</p>
                        <div>
                            <h4>PRODUCT Description</h4>
                            <ul>
                                <li>{{productData.product_desc}}</li>
                            </ul>
                        </div>
                        <div class="btn-addToCArt">

                            <button><a href="/cart/add-to-cart/{{productData.id}}">Add to Cart</a></button>
                        </div>
                        <div class="btn go-back">
                            <button id="goBackButton">Go Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

